.container{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.card-container{
  margin: 0 auto;
}
.card {
  position: relative;
  left: 5%;
  width: 29%;
  height: 520px;
  margin: 2% 0 0;
  float: left;
  perspective: 500px;
}

.card h3{
  color: #9c8337;
  font-size: 1.8em;
  background: rgba(255, 255, 255, 0.45);
  text-transform: uppercase;
  font-family: "khand";
  font-weight: 100;
  border: dotted 1px #000;
  /* border-radius: 10px 10px 0 0; */
  width: 95%;
  margin-left: 4%;
}
.card h4{
  margin: -230px 0 20px;
  font-size: 3rem;
  font-weight: 100;
}
.card .text p{
  margin: -250px 10px 0 10px;
  font-size: 1.2rem;
  width: 90%;
}
.content {
  position: absolute;
  width: 100%;
  height: 100%;
  /* box-shadow: 0 0 15px rgba(0,0,0,0.1); */

  transition: transform 1s;
  transform-style: preserve-3d;
}
#card-img0, #card-img1, #card-img2{
  display: inline-block;
  margin: 20px 10px 0 22px;
}
#card-img0 img, #card-img1 img, #card-img2 img{
  width: 98%;

}
.card:hover .content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.card-front, .card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 300px;
  color: #fff;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}
.card-front{
  background-image: url("../images/card-bg-front.png");
  background-size: cover;
  color: #fff;
  /* background-position: 0 100%; */
}

.card-back {
  background-image: url("../images/card-bg-back.png");
  background-size: cover;
  color: #000;
  transform: rotateY( 180deg );
}

.header-border {
  margin: 0 auto;
  display: inline-block;
}
.header-border h6 {
  border: 1px #343737 solid;
  padding: 3px 15px 0 15px;
  display: inline;
  color: #343737;
  color: #9c8337;
  font-size: .8rem;
  float: left;
}
.header-border:before, .header-border:after {
    float: left;
    color: #343737;
}
.header-border:before {
    content: "-|-|-|-";
}
.header-border:after {
    content: "-|-|-|-";
}
